<h1>Add a New Sighting</h1>

<% if @sighting.errors.any? %>
  <h3>Please Fix These Errors</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %>
    <% end %>
  </ul>
<% end %>

<form action="/sightings" method="post">
  <label for="sighting_name">Your Name</label>
  <input id="sighting_name" name="sighting[name]" type="text" value="<%= @sighting.name %>">
  <br><label for="sighting_species">Species You Saw</label>
  <select name="sighting[species_id]">
    <% Species.all.each do |species| %>
      <option value="<%= species.id %>"><%= species.name %></option>
    <% end %>
  </select>
  <br><label for="sighting_location">Where did you see it?</label>
  <input id="sighting_location" name="sighting[location]" type="text" value="<%= @sighting.location %>">
  <br><label for="sighting_region">Region that location is in:</label>
  <select name="sighting[region_id]">
    <% Region.all.each do |region| %>
      <option value="<%= region.id %>"><%= region.name %></option>
    <% end %>
  </select>
  <br><label for="sighting_datetime">At what time did you see it?</label>
  <input id="sighting_datetime" name="sighting[datetime]" type="datetime-local" value="<%= @sighting.datetime %>">
  <br><button>Create Sighting</button>
</form>

<p><a href="/sightings/list-all">See all sightings</a></p>
<p><a href="/species/">Move to Species Menu</a></p>
<p><a href="/regions/">Move to Regions Menu</a></p>
