<h1><%= @species.name %></h1>

<% @sightings.each do |sighting| %>
  <li><%= sighting.species.name %>: <%= sighting.name %>, <%= sighting.location %> in <%= sighting.region.name %>, <%= sighting.datetime.strftime("at %T on %F") %> | <a href="/sightings/<%= sighting.id %>/edit"> Edit </a> | <a href="/sightings/<%= sighting.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a></li>
<% end %>

<p><a href="/species">Return to Main Page</a></p>

